* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(157, 88, 157);
}

body {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 60%;
    margin-left: 20%;
    background-color: rebeccapurple;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    height: 50px;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
}

#navbar {
    right: 0;
    display: flex;
    align-items: center;
}


#navbar > a {
    padding-left: 8px;
    padding-right: 4px;
}

#navbar > a:hover {
    color: blue;
}

#name {
    padding-left: 5px;
    font-family: 'Times New Roman', Times, serif;
}

h2, h1, h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

p {
    padding-bottom: 10px;
    margin-right: 5px;
}

.content {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
}

#description {
    padding-top: 10px;
    padding-bottom: 30px;
}

#quote {
    font-family: cursive;
    text-align: center;
    font-size: larger;
    padding-top: 40px;
    padding-bottom: 100%;
}

.block {
    border-top: 2px solid white;
    padding-right: 10px;
}

img {
    max-height: 160px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25%;
}

.white {
    color: white;
}

.project_title {
    border-bottom: 1px black solid;
    padding-bottom: 10px;
    background-color: white;
    color: black;
    padding-left: 10px;
    margin-top: 20px;
}

.project {
    
}

#port_title {
    border-bottom: 2px solid white;
    padding-bottom: 0;
}

.port_text{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.about {
    margin-bottom: 20px;
    padding-right: 10px;
}


footer a {
    padding-right: 20px;
    padding-top: 10px;
}

footer img {
    height: 32px;
    width: 32px;
}

footer {
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
}

.space_right{
    margin-right: 5px;
}

.space_left {
    margin-left: 5px;
}

label, input {
    color: white;
    margin-bottom: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#submit {
    color: blue;
}

.formdiv {
    text-align: center;
    padding-top: 300px;
    padding-bottom: 300px;
}

@media screen and (min-width: 700px){
    .content {
        flex-direction: row;
    }
    .block {
        width: 50%;
    }
}

@media screen and (min-width: 700px){
    .project {
        width: 50%;
    }
}

